<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Bass 앨범의 낚시 사진과 촬영 위치를 지도에 표시하기 위해 사진 보관함 접근이 필요합니다.</string>
</dict>
</plist>
